<div if(true sdsds)>
    Well that's not okay.
</div>
<div else-if(data.foo === dasda 0)>
    Where'd that zero come from?
</div>

<div unless(data.foo ==== 1)>
    Quadruple equal?!!? That's not valid.
</div>

<div body-only-if(foo is true)>
    Maybe if this were coffeescript...
</div>