<if(x)>Hi</if>
<else hello="world">
    That attribute isn't allowed!
</else>

<if(x)>Hi</if>
<else(true)>
    If you want a condition use an if() argument!
</else>

<if(x)>Hi</if>
<else if(false) x=123>
    That attribute isn't allowed either!
</else>

<if(x)>Hi</if>
<else if()>
    Missing Argument!
</else>