<if(true 0)>
    Watch out for that rogue zero!
</if>
<else-if(false +)>
    Plus what? And why are you trying to add to false?
</else-if>

<unless(true true)>
    That doesn't mean *really* true.
    It's just invalid.
</unless>
